#logoGoogle{
  height: 3rem;
  width: 3rem;
}

*{
  margin: 0;
  padding: 0;
} 

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);

}

@font-face {
  font-family: CabinSketch-Regular;
  src: url(fonts/CabinSketch-Regular.ttf)
}

/*Estilo pagina SignUp*/
.Container-SignUp{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.Title-SignUp{
  font-family: CabinSketch-Regular;
  color: #0077b6;
  font-size: 4rem;
  margin-top: 2rem;
}

::placeholder {
  color: #0077b6;
  text-align: center;
}
.logoSignIn{
  width: auto;
  height: 4rem;
}
/*estilos inputs register y login*/
.Inputs-Registrer, .Inputs-Login{
  border-radius: 0.375rem;
  background: #BDEDF0;
  border: none;
  width: 11.5rem ;
  height: 2rem;
  margin: 1rem;
}

/*estilos botones register y login*/
.Button-Registrer, .Button-Login {
  border-radius: 0.375rem;
  background: #0A527A;
  border: none;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  color: white;
}

p{
  font-family: Roboto-Light;
  margin-top: 1rem;
}

a{
  color: #0077b6;
  font-family: Roboto-Light;
}

/*Estilo pagina login*/
.firstPage{
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh;
}

.img-estudiando{/*revisar esta cosa*/
  width: auto;
  height: 4rem;
  padding: 0rem;
  margin: 0rem;
}

.Login-Message{
  padding: 0rem 2rem;
  text-align: justify;
}

.containerLogin{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.woman-img{
  width: auto;
  height: 15rem;
}
.logoIniciaSesion{
width: auto;
height: 4em;
}
/* .Title-Login {
  font-family: CabinSketch-Regular;
  color: #0077b6;
  font-size: 3.3rem;
  margin-top: 2rem;
} */
 /* Página del Muro */
.wall-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.post-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-post{
  margin-top: 2rem;
}

.content-post{
  margin-top: 2rem;
  resize: none;
}

.button-post{
  margin-top: 2rem;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.log-out{
  width: auto;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
}

.new-post{
  width: auto;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
}

.btn-like{
  width: auto;
  height:3rem;
  display: flex;
  flex-direction: row;
}

.like-post{
  width: auto;
  height: 3rem;
}

.container-print-post{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.containerPost {
  display: flex;
  flex-direction: column;
}

.headerNav {
  display: flex;
  flex-direction: row;
}










/* Modal */

/* body, .containerModal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerModal {
  position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

.lbl-modal:checked ~ .containerModal{
	opacity: 1;
	visibility: visible;
} 

.container-new-post{
  width: 400px;
	height: 300px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}

.lbl-modal:checked ~ .containerModal .container-new-post {
	transform: translateY(0%);
} 

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

.text-post{
	width: 100%;
	padding: 10px; 
}

.lbl-modal{
  visibility: hidden;
	display: none;
}
.close-modal{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
} */